.grid2{
    background-color: white;       /* Cor de fundo dos campos (opcional) */
  border: 2px solid #ccc;         /* Borda dos campos (opcional) */
  border-radius: 10px;            /* Arredonda as bordas dos campos */
  
  justify-content: center;       /* Centraliza horizontalmente o conteúdo (opcional) */
  align-items: center;           /* Centraliza verticalmente o conteúdo (opcional) */
  font-size: 30px; 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  text-align: center;
  cursor: pointer;
  height: fit-content;
   
}
.grid2:hover {
    transform: scale(1.05); /* Expande o card em 5% no hover */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave no hover */
    background-color: #006ff6;
    color: white;
  }



.Descript{ 
  text-align: center;
  margin-top: 5%;
}

.projectCard button{
    margin-bottom: 5%;
}

.projectCard {
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;

  width: 100%;
  max-width: 450px;
  min-height: 300px;
  height: auto;
  
  margin-bottom: 20px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  padding: 5%;
  padding-top: 15%;
  padding-bottom: 15%;
  box-sizing: border-box;

  text-align: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

  .projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 400px) {
    .projectCard {
      padding: 10% 5%;
    }
  }
  