.equipe-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .carrossel-esquerda {
    background-color: #0d5ea1;
    color: white;
    border-radius: 40px;
    padding: 40px 30px;
    width: 35%;
    text-align: center;
  }
  
  .carrossel-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .carrossel-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .logo-equipe {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  
  .nav-arrow {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .nav-arrow:hover {
    transform: scale(1.3);
    color: #cce6ff; /* Azul mais claro no hover */
  }
  
  .nome-equipe {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .carrossel-direita {
    width: 60%;
    padding-left: 60px;
    color: #0d5ea1;
  }

  
  .descricao {
    font-size: 16px;
    line-height: 1.6;
  }