.searchBar {
    margin-top:10%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 8px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px auto;
    transition: box-shadow 0.3s ease;
}
  
.searchBar:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
  
.searchBar input {
    
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    margin-left: 10px;
}
  

.searchIcon {
    color: #888;
}
.grid{
    display: grid;
  grid-template-columns: 1fr 1fr; /* Cria duas colunas de igual largura */
  grid-template-rows: 1fr 1fr ;    /* Cria duas linhas de igual altura */
  gap: 2%;                     /* Espaçamento entre as células do grid */
  padding: 10px 20px;  
}


.Projects{
    display: grid; /* Define o elemento como um container de grid */
    grid-template-columns: 1fr 1fr 1fr; /* Cria três colunas de igual largura */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.chapter{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo2{
    width: 78%;
    height: 80vh;
}
.about{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.desc{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.MeV{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.MeV .mission{
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out,
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out; 
}
.MeV .mission:hover{
    
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
    
}
.MeV .vision{
    
    margin-left: 15%;
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out,
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out; 
}
.MeV .vision:hover{
    
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
    
}
.values{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.values .box{
    align-items: center;
    
    text-align: left;
    display: flex;
}
.values .box-mother{
    justify-content: center;
    display: flex;
    gap: 4%;
}
